services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: idlefarm
    volumes:
      - idlefarm_pgdata:/var/lib/postgresql/data
volumes:
  idlefarm_pgdata:
